.timeTrackingComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: space-between;
  gap: 40px;
}

.CardContainer {
  width: 245px;
  height: 245px;
  display: flex;
  border-radius: 20px;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  align-items: flex-end;
}

.cardImg {
  width: 79px;
  height: 79px;
  right: 20px;
  top: -8px;
  position: absolute;
}

@media (max-width: 1072px) {
  .timeTrackingComponent {
    justify-content: center;
  }

  .CardContainer {
    height: 120px;
  }

  .cardImg {
    width: 50px;
    height: 50px;
    right: 15px;
  }
}
