.userComponent {
  min-width: 255px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
}

.userContainer {
  height: 354px;
  background-color: hsl(246, 80%, 60%);
  display: flex;
  border-radius: 20px;
}

.userContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}

.userimage {
  height: 84px;
  width: 84px;
  border: 2px solid white;
  border-radius: 50%;
}

.dailyWeeklyMonthly {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 164px;
  padding: 20px;
}

.dailyWeeklyMonthly button {
  background-color: transparent;
  color: hsl(235, 45%, 61%);
  border: transparent;
  font-weight: bold;
}

.dailyWeeklyMonthly button:hover {
  color: white;
  cursor: pointer;
}

button.button-selected {
  color: white;
}

@media (max-width: 1072px) {
  .userContainer {
    height: 110px;
  }

  .userContent {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .userContent span {
    font-size: 12px;
  }

  .userContent h1 {
    font-size: 18px;
  }

  .userimage {
    height: 60px;
    width: 60px;
  }

  .dailyWeeklyMonthly {
    flex-direction: row;
    height: 60px;
  }
}
